* {
    font-family: "Helvetica";
}

.card {
    position: relative;
    overflow: hidden;
    display: block;
    color: white;
    min-height: 100px;
    border-radius: 1rem;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease;
}
.card:hover {
    transform: scale(1.05);
}
/* this makes sure all elements are above the effects */
.card > * {
    position: relative;
    z-index: 1;
}
/*
    the before stuff are pseudo elements;
    allows us to render darkening after
    the background but before the text
*/
.card::before {
    pointer-events: none;
    z-index: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: background 0.15s ease;
}
.card:hover::before {
    background: rgba(0, 0, 0, 0.1);
}

.card-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 2rem;
}

.text-input {
    height: 10rem;
    width: 100%;
}
.chat-messages {
    height: 400px;
    width: 250px;
    overflow-y: auto;
}
